{% load staticfiles %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


      <div class="sidenav">
         <div class="login-main-text">
            <h2>Home Sweet Home</h2>
         
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                  <button type="submit" class="btn btn-black">Login</button>
                  <a href="{% url 'password_reset'%}">Olvide mi contraseña</a>
                  <a href="/register">Registrar usuario</a>
               </form>
            </div>
         </div>
      </div>