{% load staticfiles %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 
<div class="sidenav">
    <div class="login-main-text">
       <p> Recuperación de contraseña exitosa</p>
    
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
        <p>Hemos enviado las instrucciones de como recuperar la contraseña a la dirección de correo electrónico especificada</p>
        <p>Estarás recibiendo el correo proto.</p>
        <a href="{% url 'index'%}">Iniciar sesión</a>
       </div>
    </div>
 </div>

 

 
 
