{% load staticfiles %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 
<div class="sidenav">
    <div class="login-main-text">
        <p>Especifique su email para enviarle las instrucciones para la recuperación de contraseña.</p>
        <p>Recuerde que debe ser el mismo correo que con el usuario que se registro.</p>
    </div>
 </div>

 
<div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
             {{ form.email.errors }}
            <p><label for="id_email">Dirección de correo electrónico:</label> {{ form.email }} </p>
            <br>
            <p><input type="submit" value="Recuperar contraseña" /></p>
            <a href="{% url 'index'%}">Iniciar sesión</a>
        </form>
       </div>
    </div>
 </div>

 
