{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="col-lg-3">
            <br>
            <img class="card-img-top" src="{% static 'img/fotos/logo.jpeg' %}" alt="">
            <br>
    </div>
    <div class="col-lg-9">
        <div class="post" align="center">
            <img src="{{prov.image.url}}" alt="" class="rounded">
            <h1>{{ prov.name }}</h1>
            <h3>{{ prov.text|linebreaksbr }}</h3>
            {% if user.is_authenticated %}
            <a href="{% url 'proveedor_edit' pk=prov.pk %}"><button type="button" class="btn btn-warning">Editar</button></a>
            <a href="{% url 'proveedor_delete' id=prov.id%}" 
                                onClick="return confirm('¿Seguro que quieres borrar a {{prov.name}}?');"><button type="button" class="btn btn-danger">Eliminar</button>
                                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
